:{$PORT} {
    log {
        output stdout
        level DEBUG
    }

    # Tout ce qui commence par /_event va au backend
    handle /_event* {
        reverse_proxy 127.0.0.1:8000
    }

    # /ping va au backend
    handle /ping {
        reverse_proxy 127.0.0.1:8000
    }

    # /_upload va au backend  
    handle /_upload* {
        reverse_proxy 127.0.0.1:8000
    }

    # Tout le reste = fichiers statiques
    handle {
        root * /app/.web/build/client
        try_files {path} /index.html
        file_server
    }
}
