[phases.setup]
nixPkgs = ["nodejs_20", "python311", "unzip"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "reflex init",
    "reflex export --frontend-only --no-zip"
]

[start]
cmd = "reflex run --env prod --backend-only --backend-host 0.0.0.0 --backend-port $PORT"